body{
 background-image: linear-gradient(to right, white, rgb(205,201,201));
}

header{
  background: #000300;
  width: auto;
  height: 100px;
}

header h1{
  color: #F8F8FF;
  font-family: arial;
  margin-left: 520px;
  padding: 30px;
}

/* Pagina de Login */
#formlogin{
  border: 3px grey dotted;
  width: auto;
  max-width: 400px;
  height: 400px;
  margin-left: 500px;
  margin-top: 105px;
  box-shadow: 4px 4px 2px grey;
  background: #F8F8FF;

}

form{
  margin-top: 40px;
  margin-left: 92px;

}

#entrar{
  margin-left: 51px;
  width: 65px;
  margin-top: 10px;
}

a{
  width: 100px;
  height: 80px;
  margin-left: 60px;
  color: black;
  margin-bottom: 40px;
}

input{
  margin-left: -15px;
  border: inset 1px grey;
  box-shadow: 4px 4px 4px grey;
  width: auto;
  height:30px;
  padding: 5px;
}

#login{
  margin-top: 10px;
}

#senha{
  margin-top: 10px;
}

label{
  font-family: arial;
  font-size: 20px;
  margin-left: 55px;
  padding: 15px;
}

#entrar{
  width: 80px;
  height: 30px;
  margin-left: 60px;
  background: black;
  color: white;
  border: 2px outset black;
  font-family: arial;
  font-size: 15px;
}

/* Pagina de Cadastro */

#cadastro{
  border: 3px grey dotted;
  width: auto;
  max-width: 400px;
  height: 400px;
  margin-left: 500px;
  margin-top: 105px;
  box-shadow: 4px 4px 2px grey;
  background: #F8F8FF;
}


#login1{
  margin-top: 10px;
  margin-left: -15px;

}

#senha1{
  margin-top: 5px;
  margin-left: -15px;
}

 #kenobi{
   margin-left: 10px;
   margin-top: 10px;
   width: 60%;
 }

#cadastrar{
  margin-left: 63px;
  margin-top: 10px;
  background: black;
  color: white;
  font-family: arial;
  font-size: 15px;
  width: 80px;
  height: 30px;
}


#log{
  margin-left: 50px;
}

#log2{
  margin-left: 60px;
}

#cad{
  margin-top: 55px;
}

#ch{
  margin-left: 570px;
}
