body{
  background-image: url("../imagens/bg.jpg");
}

header{
  background: black;
  width: auto;
  height: 100px;
}

header h1{
  color: white;
  font-family: arial;
  margin-left: 450px;
  padding: 30px;


}

/* Pagina de Login */
#formlogin{
  border: 3px grey outset;
  width: auto;
  max-width: 400px;
  height: 600px;
  margin-left: 450px;
  margin-top: 105px;
  box-shadow: 4px 4px 2px grey;
  background: white;
  opacity: 0.9;
}

form{
  margin-top: 40px;
  margin-left: 100px;
}

#entrar{
  margin-left: 51px;
  width: 65px;
  margin-top: 10px;
}

a{
  width: 100px;
  height: 80px;
  margin-left: 60px;
  color: black;
  margin-bottom: 40px;
}

input{
  margin-left: -10px;
  border: inset 1px grey;
  box-shadow: 4px 4px 4px grey;
  width: auto;
  height:30px;
  padding: 5px;
}

label{
  font-family: arial;
  font-size: 15px;
  margin-left: 72px;
  padding: 5px;
}


#darthlogin{
  margin-left: 96px;
  margin-top: 20px;
  width: 50%;
}

#entrar{
  width: 80px;
  height: 30px;
  margin-left: 60px;
  background: black;
  color: red;
  font-family: arial;
  font-size: 15px;
}

/* Pagina de Cadastro */

#cadastro{
  border: 3px grey outset;
  width: auto;
  max-width: 400px;
  height: 600px;
  margin-left: 682px;
  margin-top: 105px;
  box-shadow: 4px 4px 2px grey;
  background: white;
  opacity: 0.9;
}

#login1{
  margin-top: 15px;
  margin-left: -15px;

}

#senha1{
  margin-top: 5px;
  margin-left: -15px;
}

 #kenobi{
   margin-left: 10px;
   margin-top: 10px;
   width: 60%;
 }

#cadastrar{
  margin-left: 63px;
  margin-top: 10px;
  background: black;
  color: white;
  font-family: arial;
  font-size: 15px;
  width: 80px;
  height: 30px;
}
